<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Micro Time Stamp App - By Dong Dao</title>
    <meta name="description" content="A cool thing made with Glitch for Free Code Camp">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h1 class="text-left">
          <strong>
            API Basejump: TimeStamp Microservice
          </strong>
        </h1>
      </div>
      <div class="description">
        <div class="well well-sm">
          <h3>
           <strong>User Stories: </strong>
            <div class="list">
              <br>
              <ol id="user-story">
                <li>I can pass a string as a parameter, and it will check to see whether that string contains either a unix 
                  timestamp or a natural language date (example: January 1, 2016)</li>
                <li>If it does, it returns both the Unix timestamp and the natural language form of that date.</li>
                <li>If it does not contain a date or Unix timestamp, it returns null for those properties.</li>
              </ol>
            </div>
          </h3>
          
        </div>
      </div>
      
      <div class="examples">
        <div>
          <h3>Example Usage:</h3>
          <h5><code>https://timestamp-ms.herokuapp.com/December%2015,%202015</code></h5>
          <h5><code>https://timestamp-ms.herokuapp.com/1450137600</code></h5>
        </div>
        <div>
          <h3>Example Results:</h3>
          <h5><code>{ "unix": 1450137600, "natural": "December 15, 2015" }</code></h5>
        </div>
      </div>
    </div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>
